* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    margin: 0 20rem;
    background-color: black;
}

.container1 {
    display: grid;                
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

#sidebar {
    background-color: rgb(0, 145, 255);
    color: white;
    grid-row: 1 / 3;
    padding: 2rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.home {
    display: flex;
    flex-direction: column;
}

#dashboard {
    display: flex;
}

.settings {
    display: flex;
    flex-direction: column;
}

.icon {
    display: flex;
    align-items: center;
}

#dashboard, .home {
    margin-bottom: 2rem;
}
                                
.home p, .settings p {
    padding: .5rem;
}

#heading {
    padding-top: 1.5rem;
    background-color: white;
}

.intro {
    font-weight: bold;
    flex: 1;
}

#main-content {
    background-color: rgb(219, 225, 230); 
}

.badges {
    height: 55%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#project {
    margin: 1rem 0 1rem;
    position: relative;
    left: 1rem;
}

.search {
    background-color: rgb(219, 225, 230);
    height: 3.3ch;
    width: 60%;
    border-radius: 15px;
}

.links {
    background-color: rgb(0, 145, 255);
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17%;
    height: 4ch;
    margin: 0 .8rem;
}

.projects {
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    margin: 0 1rem;
    width: 100%;
    font-size: .9rem; 
}

#maintain, #trending {
    width: 75%;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
}

#ad {
    grid-column: 1;
}

.flex-container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0 1rem;
}

.flex-container2 > img {
    margin: 0 2rem;
}

.flex-container3 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#project {
    display: inline-block;
}

#announcments, #trend {
    display: inline-block;
    position: relative;
    left: 36.5rem;
}

#trend {
    left: 28rem;
    top: 34.5rem;
}

#maintain > p {
    font-size: .6rem;
}

img {
    float: left;
}

.pfp {
    border-radius: 50%;
}

.intro > img {
    margin-right: 1rem;
}

.socials {
    padding: .5rem;
}